/* Write your code here: 
you can generally group different classes ID's elements etc
>- for child(immediate child of a parent)
space only- descandent(elmenet under something else, nested )
no space- chaining(where all selectors are true)
can use other conditions except for colors */

h2, h3{
    color: blueviolet;
}
/*child*/
.box>p {
    color: navy;
}
/*descandent*/
.box li{
    color:red;
}
/*chaining*/
li.done{
    color:green
}
/*combining combiners*/
ul p.done{
    color:orange;
    font-size: 4rem;
}